/* Alert */
.alert {
    position: fixed;
    top: 12rem;
    height: 9rem;
    width: 80rem;
    left: 50%;
    margin-left: -40rem;
    z-index: 5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 1rem;
    border-style: none;
    padding: 0;
    transition: all 0.2s;
}
.alert:hover {
    cursor: pointer;
}
.alert_block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem;
    width: 100%;
    opacity: 0.8;
    border-radius: 1rem;
}
.alert_primary {
    background-color: #0048D0;
}
.alert_danger {
    background-color: #D50000;
}
.alert_text {
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
    color: #fff;

    margin: 0;
}
@media (max-width: 1199px) {
    .alert {
        width: 60rem;
        margin-left: -30rem;
        height: 7rem;
    }
    .alert_block {
        height: 7rem;
    }
    .alert_text {
        font-size: 2.1rem;
    }
}

@media (max-width: 767px) {
    .alert {
        width: 50rem;
        margin-left: -25rem;
    }
    .alert_text {
        font-size: 2rem;
    }
}

@media (max-width: 575px) {
    .alert {
        width: 30rem;
        margin-left: -15rem;
        height: 6rem;
    }
    .alert_block {
        height: 6rem;
    }
    .alert_text {
        font-size: 1.8rem;
    }
}