/* Стиль айтема */
.item {
    margin-top: 8rem;
    z-index: 0;
}
.item:hover .add_to_bag {
    opacity: 1;
}
.name_block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.name_item {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
}
.discount {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    display: inline-flex;
    width: 5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    color: #fff;
    background-color: #E41515;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0.7rem;
}
.img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img:hover {
    cursor: pointer;
}
.item_image {
    height: 30rem;
    width: 30rem;
}
.article {
    font-size: 1.2rem;
    color: #546E7A;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5rem;
}
.price_item {
    font-size: 3.2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.old_price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    height: 1.8rem;
    font-weight: bolder;
    color: #90A4AE;
    text-decoration-line: line-through;
    text-align: center;
}
.add_to_bag {
    background-color: #000;
    border-style: none;
    margin-top: 2.5rem;
    color: #fff;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
    height: 4rem;
    opacity: 0;
    transition: all 0.15s;
}
.add_to_bag:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1399px) {
    .name_item {
        font-size: 1.7rem;
    }
    .price_item {
        font-size: 2.9rem;
    }
    .old_price {
        font-size: 1.5rem;
        height: 1.5rem;
    }
}
@media (max-width: 1199px) {
    .name_item {
        font-size: 1.4rem;
    }
    .discount {
        width: 4.2rem;
        height: 2.1rem;
        font-size: 1.3rem;
    }
    .item_image {
        height: 23rem;
        width: 23rem;
    }
    .article {
        font-size: 1rem;
    }
    .price_item {
        font-size: 2.6rem;
    }
    .old_price {
        font-size: 1.4rem;
        height: 1.4rem;
    }
    .add_to_bag {
        font-size: 1.8rem;
    }
}
@media (max-width: 767px) {
    .name_item {
        font-size: 1.2rem;
    }
    .discount {
        width: 3.4rem;
        height: 1.6rem;
        font-size: 0.9rem;
    }
    .item_image {
        height: 20rem;
        width: 20rem;
    }
    .price_item {
        font-size: 2.3rem;
    }
    .old_price {
        font-size: 1.3rem;
        height: 1.3rem;
    }
    .add_to_bag {
        font-size: 1.5rem;
        opacity: 1;
        margin-top: 1rem;
        height: 3.5rem;
        border-radius: 0.7rem;
    }
}

@media (max-width: 575px) {
    .item {
        margin-top: 6rem;
    }
    .name_item {
        font-size: 1.6rem;
    }
    .discount {
        width: 3.8rem;
        height: 1.9rem;
        font-size: 1.1rem;
    }
    .item_image {
        height: 21rem;
        width: 21rem;
    }
    .article {
        font-size: 1.1rem;
    }
    .price_item {
        font-size: 2.3rem;
    }
    .old_price {
        font-size: 1.3rem;
        height: 1.3rem;
    }
    .add_to_bag {
        font-size: 1.5rem;
        opacity: 1;
        margin-top: 1rem;
        height: 3.5rem;
    }
}
@media (max-width: 360px) {
    .name_item {
        font-size: 1.4rem;
    }
    .item_image {
        height: 18rem;
        width: 18rem;
    }
    .price_item {
        font-size: 2.2rem;
    }
    .add_to_bag {
        font-size: 1.2rem;
    }
}