.footer {
    width: 100%;
    height: 15rem;
    background-color: #f5f5f7;
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.block {
    width: 100%;
    text-align: center;
}
.text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    color: #78909C;
    margin-bottom: 0.4rem;
}
@media (max-width: 767px) {
    .text {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
}