.messages {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 32rem;
    height: 41rem;
    display: flex;
    flex-flow: column;
    background-color: #303030;
    border-radius: 1.9rem;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.25);
    padding: 1.5rem 1.8rem;
    z-index: 10;
}
.up_line {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 1rem;
}
.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 0;
}
.close {
    margin-left: auto;
    width: 1.8rem;
    height: 1.8rem;
}
.close:hover {
    cursor: pointer;
}
.ribbon {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
}
.scrollable {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.scrollable::-webkit-scrollbar {
    width: 0;
}
.input_message {
    flex: 0 1 auto;
}
.down_line {
    width: 100%;
    min-height: 3rem;
    padding-top: 1rem;
    border-top-style: solid;
    border-top-color: #D9D9D9;
    border-top-width: 0.1rem;
    display: flex;
    align-items: center;
}
.in_message {
    background-color: #303030;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    max-height: 10rem;
    border-style: none;
    outline: none;
    color: #ffffff;
    resize: none;
    flex: 1;
    line-height: 2.2rem;
    margin-right: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.in_message::-webkit-scrollbar {
    background-color: #333333;
    width: 0.4rem;
}
.in_message::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 1rem;
}
.send {
    margin-left: auto;
    display: inline-flex;
    width: 2.7rem;
    height: 2.7rem;
    background-color: #ffffff;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
}
.send:hover {
    cursor: pointer;
}
.wel_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: rgba(168, 168, 168, 0.64);
    margin-bottom: 6rem;
    margin-top: 4rem;
    text-align: center;
}
.mes_block {
    margin-bottom: 1rem;
    display: flex;
}
.message {
    max-width: 80%;
    padding: 0.7rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    border-radius: 1rem;
    word-wrap: break-word;
}
.user {
    background-color: #424242;
}
.admin {
    background-color: #212121;
}
.left {
    justify-content: start;
}
.right {
    justify-content: end;
}
.arr {
    width: 1.5rem;
    height: 1.5rem;
}
@media (max-width: 575px) {
    .messages {
        left: calc(50% - 16rem);
    }
}