.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 9rem;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
}
.navbar_brand {
    color: #ffffff;
    font-size: 3.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}
.navbar_brand:hover {
    color: #ffffff;
}
.navbar_link {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    color: #ffffff8c;
    text-decoration: none;
    transition: all 0.2s;
}
.navbar_link:hover {
    color: rgba(255, 255, 255, 0.8);
}
.navbar_link_user {
    margin-left: 3.9rem;
    margin-right: 3.9rem;
}
.svg {
    fill: #ffffff8c;
    transition: all 0.2s;
}
.svg:hover {
    fill: rgba(255, 255, 255, 0.8);
}
.basket_count {
    margin-bottom: 0;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1rem;
    background-color: #0048D0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: translate(-1rem, 1.2rem);
}
@media (max-width: 1399px) {
    .navbar_link_user {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}
@media (max-width: 1199px) {
    .navbar_link {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        font-size: 1.5rem;
    }
    .navbar_link_user {
        margin-left: 2.1rem;
        margin-right: 2.1rem;
    }
    .header {
        min-height: 9rem;
    }
}
@media (max-width: 991px) {
    .navbar_link {
        text-align: left;
    }
}
@media (max-width: 767px) {
    .navbar_brand {
        font-size: 3rem;
    }
    .header {
        min-height: 8rem;
    }
}
@media (max-width: 575px) {
    .navbar_link {
        font-size: 1.4rem;
    }
    .navbar_brand {
        font-size: 2.5rem;
    }
}