/* Айтемы */
.item {
    display: inline-block;
    margin-top: 10rem;
}
.item_name {
    margin-top: 5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    text-align: center;
}
.img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    height: 40rem;
    width: 40rem;
}
.first_price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    text-align: center;
}
.counter {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
}
.count {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
}
.full_price {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    margin-top: 1.5rem;
    text-align: center;
}
@media (max-width: 1199px) {
    .item_name {
        font-size: 3.7rem;
    }
    .image {
        height: 35rem;
        width: 35rem;
    }
}
@media (max-width: 991px) {
    .item_name {
        font-size: 3.3rem;
    }
    .image {
        height: 28rem;
        width: 28rem;
    }
    .full_price {
        font-size: 3rem;
    }
}
@media (max-width: 767px) {
    .item_name {
        font-size: 2.7rem;
    }
    .image {
        height: 22rem;
        width: 22rem;
    }
    .first_price {
        font-size: 1.2rem;
    }
    .count {
        font-size: 3rem;
    }
    .full_price {
        font-size: 2.6rem;
    }
}
@media (max-width: 575px) {
    .item {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}