.block {
    margin-top: 16rem;
}
.part {
    text-align: center;
}
.iframe {
    width: 40rem;
    height: 40rem;
    border-radius: 1.8rem;
    padding: 1rem;
    border: 0.1rem solid #000;
}
.address_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
}
.head_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
}
.data_block {
    margin-top: 2.5rem;
}
.time_block {
    margin-top: 3.4rem;
}
.time_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin-top: 0.7rem;
}
.down {
    margin-top: 4.2rem;
}
.data_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    display: block;
    margin-top: 1.2rem;
}
.chats {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
}
.tg {
    background-color: #0088CC;
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.telegram {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -0.4rem;
}
.back {
    width: 4rem;
    height: 4rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
.back:hover {
    cursor: pointer;
}
.social_links {
    margin-top: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soc_block {
    margin-left: 1.7rem;
    margin-right: 1.7rem;
}
.soc_block:hover {
    cursor: pointer;
}
.yt {
    width: 6rem;
    height: 6rem;
}
.vk {
    width: 5rem;
    height: 5rem;
}
.tg_big {
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    background-color: #0088CC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.telegram_big {
    width: 3rem;
    height: 3rem;
    margin-left: -0.4rem;
}
.com_text {
    margin-top: 6rem;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}
.head_list {
    text-align: center;
    margin-top: 7.5rem;
}
.list {
    margin-top: 2rem;
}
.list_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.round {
    display: inline-block;
    background-color: #000000;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.5rem;
}
.item_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    margin-left: 1rem;
    margin-bottom: 0;
}
.str {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0;
}
.logo_s {
    width: 5rem;
    height: 5rem;
    margin-top: 3.5rem;
}
.help {
    margin-top: 2rem;
    text-align: center;
}
.form {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 29.6rem;
    margin-top: 4.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: 0.1rem solid #BDBDBD;
    border-radius: 1.7rem;
}
.feedback_text {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 5rem;
    text-align: center;
}
.input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    border-style: none;
    outline: none;
    margin-bottom: 2.2rem;
}
.input::placeholder {
    color: #BDBDBD;
}
.feedback_button {
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    color: #fff;
    width: 18rem;
    height: 4rem;
    border-style: none;
    border-radius: 0.8rem;
}
@media (max-width: 1399px) {
    .iframe {
        width: 35rem;
        height: 35rem;
        border-radius: 1.4rem;
    }
    .address_text {
        font-size: 1.5rem;
    }
    .head_text {
        font-size: 2rem;
    }
    .data_block {
        margin-top: 2rem;
    }
    .time_block {
        margin-top: 4rem;
    }
    .down {
        margin-top: 3.7rem;
    }
    .data_text {
        font-size: 1.6rem;
    }
    .time_text {
        font-size: 1.6rem;
    }
    .telegram {
        width: 2rem;
        height: 2rem;
    }
    .back {
        width: 3.5rem;
        height: 3.5rem;
    }
    .yt {
        width: 5rem;
        height: 5rem;
    }
    .vk {
        width: 4rem;
        height: 4rem;
    }
    .tg_big {
        width: 4rem;
        height: 4rem;
    }
    .telegram_big {
        width: 2rem;
        height: 2rem;
    }
    .com_text {
        font-size: 2.2rem;
        margin-top: 5rem;
    }
    .head_list {
        margin-top: 6rem;
    }
    .list {
        margin-top: 1rem;
    }
    .round {
        width: 0.6rem;
        height: 0.6rem;
    }
    .item_text {
        font-size: 2rem;
        margin-left: 0.7rem;
    }
}
@media (max-width: 991px) {
    .iframe {
        width: 30rem;
        height: 30rem;
        border-radius: 1.2rem;
    }
    .address_text {
        font-size: 1.2rem;
    }
    .head_text {
        font-size: 1.7rem;
    }
    .data_block {
        margin-top: 1.4rem;
    }
    .time_block {
        margin-top: 3rem;
    }
    .data_text {
        font-size: 1.4rem;
    }
    .time_text {
        font-size: 1.4rem;
    }
    .yt {
        width: 4.5rem;
        height: 4.5rem;
    }
    .vk {
        width: 3.5rem;
        height: 3.5rem;
    }
    .tg_big {
        width: 3.5rem;
        height: 3.5rem;
    }
    .social_links {
        margin-top: 2rem;
    }
    .soc_block {
        margin-left: 1.3rem;
        margin-right: 1.3rem;
    }
    .telegram_big {
        margin-left: -0.2rem;
    }
    .com_text {
        font-size: 1.7rem;
    }
    .round {
        width: 0.5rem;
        height: 0.5rem;
    }
    .list_item {
        margin-top: 1.2rem;
    }
    .item_text {
        font-size: 1.7rem;
    }
    .logo_s {
        width: 4rem;
        height: 4rem;
        margin-top: 2.5rem;
    }
    .form {
        margin-top: 1rem;
        transform: scale(0.95);
    }
}
@media (max-width: 767px) {
    .block {
        margin-top: 13rem;
    }
    .iframe {
        width: 25rem;
        height: 30rem;
        border-radius: 1rem;
        padding: 0.6rem;
    }
    .address_text {
        font-size: 0.9rem;
    }
    .head_text {
        font-size: 1.5rem;
    }
    .time_block {
        margin-top: 2rem;
    }
    .data_text {
        font-size: 1.3rem;
        margin-top: 0.8rem;
    }
    .time_text {
        font-size: 1.3rem;
    }
    .telegram {
        width: 1.8rem;
        height: 1.8rem;
        margin-left: -0.3rem;
    }
    .back {
        width: 3rem;
        height: 3rem;
    }
    .yt {
        width: 4rem;
        height: 4rem;
    }
    .vk {
        width: 3rem;
        height: 3rem;
    }
    .tg_big {
        width: 3rem;
        height: 3rem;
    }
    .telegram_big {
        width: 1.7rem;
        height: 1.7rem;
        margin-left: -0.3rem;
    }
    .com_text {
        font-size: 1.3rem;
        margin-top: 3rem;
    }
    .head_list {
        margin-top: 4rem;
    }
    .round {
        width: 0.4rem;
        height: 0.4rem;
    }
    .list_item {
        margin-top: 0.8rem;
    }
    .item_text {
        font-size: 1.3rem;
    }
    .logo_s {
        width: 3rem;
        height: 3rem;
        margin-top: 2rem;
    }
    .form {
        transform: scale(0.85);
    }
}
@media (max-width: 575px) {
    .block {
        margin-top: 9rem;
    }
    .address_text {
        margin-top: 1rem;
    }
    .part {
        margin-top: 2rem;
    }
    .head_list {
        margin-top: 3rem;
    }
    .item_text {
        text-align: center;
        font-size: 0.85rem;
    }
}