.cards {
    margin-top: 17rem;
}
.card {
    height: 19rem;
    background-color: #fff;
    border-style: none;
    border-radius: 1.5rem;
    box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    padding-top: 2rem;
    padding-left: 3rem;
}
.card:hover {
    cursor: pointer;
    transform: translateY(-2rem);
}
.card_text {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0;
}
.card_icon {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    width: 10rem;
    height: 5rem;
    border-radius: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.7rem;
    margin-bottom: 0;
    color: #ffffff;
}
.star {
    font-size: 3.8rem;
}
/* Поисковая строка */
.find_block {
    margin-top: 3rem;
}
.back_shadow {
    position: relative;
    display: inline-block;
    margin-top: 3rem;
    height: 5.5rem;
    border-radius: 1.3rem;
    box-shadow: 0.4rem 0.4rem 2rem 0.2rem rgba(0, 0, 0, 0.25);
}
.input {
    height: 5.5rem;
    border-radius: 1.3rem;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    outline: none;
    padding-left: 2rem;
    padding-right: 1rem;
}
.input:hover {
    outline: none;
}
.input::placeholder {
    color: #BDBDBD;
}
.find {
    background-color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    color: #fff;
    border-radius: 0 1.5rem 1.5rem 0;
    transition: all 0.2s;
    border-style: none;
}
.find:hover {
    border-radius: 1.5rem;
}
.padding {
    width: 102%;
}
.block_clean {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.clean_tags {
    width: 17rem;
    height: 4.5rem;
    background-color: #E41515;
    border-radius: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    border-style: none;
    transition: all 0.2s;
}
.clean_tags:active {
    transform: scale(0.9);
}
.info_filter {
    height: 3rem;
    margin-top: 3rem;
    display: flex;
}
.info {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}
.empty_text {
    font-family: 'Raleway', sans-serif;
    text-align: center;

    font-size: 3.5rem;

    margin-top: 20rem;
    margin-bottom: 20rem;
}
.page {
    margin-top: 5rem;
}
@media (max-width: 1199px) {
    .cards {
        margin-top: 12rem;
    }
    .card {
        height: 16rem;
        padding-left: 2rem;
    }
    .card_text {
        font-size: 2.5rem;
    }
    .card_icon {
        font-size: 2.5rem;
        width: 8rem;
        height: 4rem;
    }
    .star {
        font-size: 3rem;
    }
}
@media (max-width: 991px) {
    .cards {
        margin-top: 10rem;
    }
    .card {
        height: 14rem;
        padding-left: 2rem;
        margin-top: 2rem;
        box-shadow: 0 0 1.25rem 0.1rem rgba(0, 0, 0, 0.25);
    }
    .card:hover {
        transform: scale(1.04);
    }
    .card_text {
        font-size: 2rem;
    }
    .card_icon {
        font-size: 2rem;
        width: 6.4rem;
        height: 3.2rem;
    }
    .star {
        font-size: 2rem;
    }
    .empty_text {
        font-size: 2.7rem;
        margin-top: 15rem;
        margin-bottom: 15rem;
    }
}

@media (max-width: 575px) {
    .cards {
        margin-top: 9rem;
    }
    .info {
        font-size: 1.4rem;
    }
}
@media (max-width: 460px) {
    .card {
        height: 11rem;
        padding-left: 1.7rem;
    }
    .card_text {
        font-size: 1.9rem;
    }
    .card_icon {
        font-size: 1.7rem;
        width: 6rem;
        height: 3rem;
    }
    .star {
        font-size: 2.5rem;
    }
}
@media (max-width: 430px) {
    .info {
        font-size: 1.2rem;
    }
}

@media (max-width: 360px) {
    .card {
        height: 11rem;
        padding-left: 1.7rem;
    }
    .card_text {
        font-size: 1.7rem;
    }
    .card_icon {
        font-size: 1.7rem;
        width: 6rem;
        height: 3rem;
    }
    .star {
        font-size: 2.2rem;
    }
    .filters {
        margin-top: 4rem;
    }
    .info {
        font-size: 1rem;
    }
    .empty_text {
        font-size: 3.2rem;
        margin-top: 12rem;
        margin-bottom: 12rem;
    }
}