/* Стиль блока */
.create_section {
    margin-top: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.create_text {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    text-align: center;
}
.left_block,
.right_block {
    margin-top: 5rem;
}
/* Левый блок */
.num_mail {
    margin-top: 5rem;
}
.address {
    margin-top: 5rem;
}
.address_help {
    justify-content: center;
}
.data_plug {
    height: 6rem;
    margin-top: 2rem;
}
.data {
    height: 6rem;
    border-radius: 3rem;
    border-style: none;
    margin-top: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-left: 3rem;
    transition: all 0.2s;
}
.data::placeholder {
    color: #BDBDBD;
}
.data:focus {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.small {
    width: 20rem;
}
.middle {
    margin-left: 3rem;
    margin-right: 3rem;
}
/* Правый блок */
.header_way {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}
.variant {
    display: inline-block;
    margin-left: 0.8rem;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
}
.way_line {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.way_plug {
    height: 2rem;
    margin-top: 1.4rem;
}
.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 4px solid #000;
    transition: all 0.2s;
}
.radio:checked {
    background-color: #000;
}
.radio:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.margin {
    margin-top: 16rem;
}
.mini {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    margin-left: 2.7rem;
}
.par {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}
/* Кнопка "Далее" */
.next {
    height: 8rem;
    background-color: #000;
    color: #fff;
    border-radius: 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    transition: all 0.2s;
    margin-top: 8rem;
}
.next:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.mt {
    margin-top: 7.8rem;
}
/* Стиль футера */
.footer {
    width: 100%;
    margin-top: 5rem;
    height: 15rem;
    background-color: #f5f5f7;
}
.empty_text {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 4.5rem;
    margin-top: 45vh;
    transform: translateY(-50%);
}
@media (max-width: 1399px) {
    .data {
        font-size: 2.1rem;
    }
    .small {
        width: 17rem;
    }
    .middle {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}
@media (max-width: 1199px) {
    .data {
        font-size: 1.8rem;
    }
    .small {
        width: 14rem;
    }
    .middle {
        padding-left: 0;
        text-align: center;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}
@media (max-width: 991px) {
    .create_text {
        font-size: 4rem;
    }
    .data {
        font-size: 1.6rem;
    }
    .small {
        width: 11.66rem;
        padding-left: 0;
        text-align: center;
    }
    .middle {
        padding-left: 0;
        text-align: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .header_way {
        font-size: 2.1rem;
    }
    .variant {
        font-size: 1.7rem;
    }
    .next {
        height: 6rem;
        font-size: 2.5rem;
        margin-top: 11rem;
    }
    .mt {
        margin-top: 9.5rem;
    }
    .radio {
        width: 1.7rem;
        height: 1.7rem;
        border: 3px solid #000;
    }
    .way_plug {
        height: 1.7rem;
        margin-top: 1.3em;
    }
}
@media (max-width: 767px) {
    .data {
        font-size: 1.2rem;
        height: 4.6rem;
        border-radius: 2.3rem;
    }
    .data_plug {
        height: 4.6rem;
    }
    .small {
        width: 8.66rem;
    }
    .header_way {
        font-size: 1.8rem;
    }
    .variant {
        font-size: 1.4rem;
    }
    .next {
        height: 5rem;
        font-size: 2.1rem;
        margin-top: 10rem;
    }
    .mt {
        margin-top: 8.2rem;
    }
    .radio {
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid #000;
    }
    .way_plug {
        height: 1.5rem;
    }
    .margin {
        margin-top: 11rem;
    }
    .empty_text {
        font-size: 4.1rem;
    }
}
@media (max-width: 575px) {
    .create_text {
        font-size: 3rem;
    }
    .small {
        width: 21%;
    }
    .middle {
        padding-left: 0;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    .header_way {
        margin-top: 0;
        font-size: 1.6rem;
    }
    .variant {
        font-size: 1.1rem;
    }
    .mini {
        font-size: 1rem;
    }
    .next {
        margin-top: 5rem;
    }
}
@media (max-width: 400px) {
    .create_section {
        margin-top: 6rem;
    }
    .small {
        width: 26%;
    }
    .middle {
        padding-left: 0;
        text-align: center;
        margin-left: 3%;
        margin-right: 3%;
    }
    .empty_text {
        font-size: 3.6rem;
    }
}
@media (max-width: 360px) {
    .create_text {
        font-size: 2.5rem;
    }
    .header_way {
        font-size: 1.3rem;
    }
    .mini {
        font-size: 0.9rem;
    }
    .empty_text {
        font-size: 3.2rem;
    }
}
