/* Стиль инпутов */
.items {
    margin-top: 4rem;
}

.empty_text {
    font-family: 'Raleway', sans-serif;
    text-align: center;

    font-size: 4rem;

    margin-top: 38vh;
}

@media (max-width: 767px) {
    .empty_text {
        font-size: 3.5rem;
    }
}

@media (max-width: 575px) {
    .empty_text {
        font-size: 2.8rem;
    }
}