/* Текст "Добро пожаловать!" */
.carousel_block {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hover:hover {
    cursor: pointer;
}
.welcome_text {
    font-size: 7.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
}
.discount {
    width: 12rem;
    height: 6rem;
    font-size: 5rem;
    border-radius: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    color: #ffffff;
    background-color: #E41515;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-left: 1rem;
}
.new {
    font-size: 4rem;
}
.prompt {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}
/* Блоки Landing */
.block_model {
    display: flex;
    margin-top: 10rem;
    align-items: center;
}
.des_text {
    min-height: 3rem;
}
.head_text {
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
}
.down_text {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    text-align: center;
    margin-top: 12rem;
}
.img_div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.img_div:hover .check {
    cursor: pointer;
    opacity: 1;
}
.img_div:hover .image {
    filter: blur(5px);
}
.image {
    height: 54rem;
    width: 54rem;
    transition: all 0.5s;
}
.image:hover {
    filter: blur(10px);
    cursor: pointer;
}
.check {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s ease;
    color: #fff;
    border-style: none;
}
/* Карточки с готовыми тегами */
.card {
    width: 27rem;
    height: 27rem;
    box-shadow: 0 0.5rem 1.5rem 0.1rem rgba(0, 0, 0, 0.25);
    border-radius: 1.8rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.card_image {
    width: 20rem;
    height: 20rem;
}
.card_name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9rem;
}
.card_block {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
/* Ссылка на каталог */
.text_catalog {
    margin-top: 10rem;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-align: center;
}
.href {
    display: inline-block;
    color: #0048D0;
}
.phone_number {
    margin-top: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    text-align: center;
}
@media (max-width: 1399px) {
    .card {
        width: 24rem;
        height: 24rem;
    }
    .card_image {
        width: 17rem;
        height: 17rem;
    }
    .card_name {
        font-size: 1.7rem;
    }
    .card_block {
        margin-top: 4rem;
    }
}
@media (max-width: 1199px) {
    .image {
        height: 47rem;
        width: 47rem;
    }
    .head_text {
        font-size: 3.7rem;
    }
    .down_text {
        font-size: 2.5rem;
    }
    .card {
        width: 20rem;
        height: 20rem;
    }
    .card_image {
        width: 14rem;
        height: 14rem;
    }
    .card_name {
        font-size: 1.5rem;
    }
    .card_block {
        margin-top: 3rem;
    }
    .text_catalog {
        font-size: 2.5rem;
        margin-top: 6rem;
    }
    .phone_number {
        margin-top: 2rem;
        font-size: 3.5rem;
    }
}
@media (max-width: 991px) {
    .welcome_text {
        font-size: 6rem;
    }
    .discount {
        width: 10rem;
        height: 5rem;
        font-size: 4.5rem;
    }
    .new {
        font-size: 3.5rem;
    }
    .image {
        height: 38rem;
        width: 38rem;
    }
    .check {
        font-size: 4rem;
    }
    .cards {
        margin-top: 3rem;
    }
    .card {
        width: 16rem;
        height: 16rem;
        box-shadow: 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.25);
        border-radius: 1.5rem;
    }
    .card_image {
        width: 10rem;
        height: 10rem;
    }
    .card_name {
        font-size: 1.3rem;
    }
    .card_block {
        margin-top: 2rem;
    }
    .head_text {
        font-size: 3.3rem;
    }
    .down_text {
        font-size: 2.1rem;
        margin-top: 8rem;
    }
    .text_catalog {
        font-size: 2.1rem;
    }
    .phone_number {
        font-size: 3.1rem;
    }
}
@media (max-width: 767px) {
    .carousel_block {
        height: 45vh;
    }
    .welcome_text {
        font-size: 4.5rem;
    }
    .discount {
        width: 8rem;
        height: 4rem;
        font-size: 3.7rem;
        margin-left: 0.7rem;
    }
    .new {
        font-size: 2.7rem;
    }
    .image {
        height: 30rem;
        width: 30rem;
    }
    .check {
        font-size: 3.5rem;
    }
    .head_text {
        font-size: 3rem;
    }
    .down_text {
        font-size: 1.6rem;
        margin-top: 5rem;
    }
    .card {
        width: 12rem;
        height: 12rem;
        border-radius: 1.1rem;
        box-shadow: 0 0 0.6rem 0.1rem rgba(0, 0, 0, 0.25);
    }
    .card_image {
        width: 7rem;
        height: 7rem;
    }
    .card_name {
        font-size: 1rem;
    }
    .card_block {
        margin-top: 1rem;
    }
    .text_catalog {
        font-size: 1.7rem;
    }
    .phone_number {
        font-size: 2.7rem;
    }
}
@media (max-width: 575px) {
    .carousel_block {
        height: 40vh;
    }
    .welcome_text {
        font-size: 3.5rem;
    }
    .discount {
        width: 6rem;
        height: 3rem;
        font-size: 2.7rem;
    }
    .new {
        font-size: 1.7rem;
    }
    .image {
        height: 22rem;
        width: 22rem;
    }
    .check {
        font-size: 3.1rem;
    }
    .head_text {
        font-size: 2.7rem;
    }
    .down_text {
        font-size: 1.3rem;
        margin-top: 4.5rem;
    }
    .card {
        width: 20rem;
        height: 20rem;
    }
    .card_image {
        width: 14rem;
        height: 14rem;
    }
    .card_name {
        font-size: 1.3rem;
    }
    .card_block {
        margin-top: 2rem;
    }
    .text_catalog {
        font-size: 1.4rem;
    }
    .phone_number {
        font-size: 2.4rem;
    }
}
@media (max-width: 430px) {
    .carousel_block {
        height: 35vh;
    }
    .welcome_text {
        font-size: 2.7rem;
    }
    .discount {
        width: 5rem;
        height: 2.5rem;
        font-size: 1.9rem;
    }
    .new {
        font-size: 1.5rem;
    }
    .block_model {
        margin-top: 3rem;
    }
    .image {
        height: 17rem;
        width: 17rem;
    }
    .check {
        font-size: 2.5rem;
    }
    .head_text {
        font-size: 2.3rem;
    }
    .down_text {
        font-size: 1rem;
        margin-top: 3.5rem;
    }
    .cards {
        margin-top: 1rem;
    }
    .card {
        width: 16rem;
        height: 16rem;
    }
    .card_image {
        width: 10rem;
        height: 10rem;
    }
    .card_name {
        font-size: 1.2rem;
    }
    .card_block {
        margin-top: 1.5rem;
    }
    .text_catalog {
        font-size: 1.2rem;
        margin-top: 4rem;
    }
    .phone_number {
        font-size: 2.2rem;
        margin-top: 1rem;
    }
}
@media (max-width: 360px) {
    .carousel_block {
        height: 30vh;
    }
    .welcome_text {
        font-size: 2.3rem;
    }
    .discount {
        width: 4rem;
        height: 2rem;
        font-size: 1.5rem;
    }
    .new {
        font-size: 1.3rem;
    }
    .image {
        height: 14rem;
        width: 14rem;
    }
    .check {
        font-size: 2.1rem;
    }
    .head_text {
        font-size: 1.9rem;
    }
    .down_text {
        font-size: 0.9rem;
        margin-top: 3rem;
    }
    .card {
        width: 14rem;
        height: 14rem;
    }
    .card_image {
        width: 9rem;
        height: 9rem;
    }
    .card_name {
        font-size: 1.1rem;
    }
    .card_block {
        margin-top: 1.5rem;
    }
    .text_catalog {
        font-size: 1rem;
    }
    .phone_number {
        font-size: 2rem;
    }
}