html,
body {
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    min-width: 320px;

    overflow-x: hidden;
}
.react-reveal{
    animation-fill-mode: backwards !important;
}
::-webkit-scrollbar {
    width: 0;
}